button{
    color: var(--primary-color);
    background-color: var(--bg-color);
    border-color: var(--secondary-color);
    padding: 10px;
    border-radius: 20px;
}

@media (max-width: 600px) {
button {
        padding: 8px 20px;
        font-size: 12px;
    }
}