.presentation-box {
    margin-bottom: 100px;
}

.presentation-box img {
    margin-bottom: 30px;
    width: 100%;
}

.presentation-box .h2 {
    margin-bottom: 10px;
}

.presentation-box p {
    padding-right: 200px;
}

@media (max-width: 600px) {

        .presentation-box {
        margin-bottom: 100px;
        
    }

    .presentation-box p {
        padding-right: 0px;
        margin-bottom: 30px;
    }
}