.presentation-box {
    margin-bottom: 100px;
}

.presentation-box img {
    margin-bottom: 30px;
    width: 100%;
}

.presentation-box .h2 {
    margin-bottom: 10px;
}

.presentation-box p {
    padding-right: 200px;
}