
/*  
* {
    box-sizing: border-box;
    background-image url(/assets/bg.png) ;
}
*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--bg-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.header-logo img{
    width: 213.5px;
    height: 61px;
    margin-left: 50px;
}

.main{
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-size: 18px;
    font-family: "Baskervville-regular", sans-serif;
    text-align: left;
}

.bienvenue {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.bienvenue-image {
    width: 100%;
    height: 265px;
    object-fit: cover;
}
.bienvenue h1 {
    margin: 10px 0 10px 50px;
}
.bienvenue h3 {
    margin-left: 50px;
    margin-right: 50px;
}




